included_plugins/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE - BASIC USER MANUAL.pdf
included_plugins/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE GUI.png
included_plugins/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE YT.png
included_plugins/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/Darksichord 3 Lite.dll
included_plugins/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/Darksichord 3 Lite.instruments/\[1AAA\].mse
included_plugins/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/Darksichord 3 Lite.instruments/Darksichord 3 Lite.mse
included_plugins/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/Darksichord 3 Lite.vst3
included_plugins/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/Installation Manual 2024 (ESL).pdf
included_plugins/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/License Agreement .pdf
included_plugins/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/DARKSICHORD 3 LITE WIN VST3-VST 64BIT/LITE DESCRIPTION.txt
